In [1]:
my_list = [1,2,3]

In [2]:
type(my_list)

list

In [4]:
my_list = ['Segy', 14, 9.1994]

In [5]:
my_list

['Segy', 14, 9.1994]

In [7]:
len(my_list)

3

In [8]:
mylist = ['one', 'two', 'three']

In [9]:
mylist[0]

'one'

In [10]:
mylist[0] = 'Onee'

In [11]:
mylist[0]

'Onee'

In [12]:
mylist[1:]

['two', 'three']

In [13]:
mylist[0]= 'one'

In [14]:
mylist[0:1]

['one']

In [15]:
mylist2 = ['four', 'five','six']

In [16]:
mylist = mylist + mylist2

In [17]:
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [18]:
mylist = mylist[:3]

In [19]:
mylist

['one', 'two', 'three']

In [20]:
another_list = mylist + mylist2

In [21]:
another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [22]:
another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [23]:
another_list[0].upper()

'ONE'

In [24]:
another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [25]:
another_list = another_list[0].upper()

In [26]:
another_list

'ONE'

In [27]:
another_list = mylist + mylist2

In [28]:
another_list[0] = another_list[0].upper

In [29]:
another_list

[<function str.upper>, 'two', 'three', 'four', 'five', 'six']

In [30]:
another_list = mylist + mylist2

In [31]:
another_list[0] = another_list[0].upper()

In [32]:
another_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [33]:
another_list.append('seven')

In [34]:
another_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [35]:
another_list.append('eight')

In [36]:
another_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [37]:
another_list.pop()

'eight'

In [38]:
another_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [39]:
popped_item = another_list.pop()

In [40]:
popped_item

'seven'

In [41]:
another_list.pop(1)

'two'

In [42]:
alp_list = ['b','e','a','d','c']
num_list = [4,3,2,1,5]

In [43]:
alp_list.sort()

In [44]:
alp_list

['a', 'b', 'c', 'd', 'e']

In [45]:
alp_list.reverse()

In [46]:
alp_list

['e', 'd', 'c', 'b', 'a']

In [48]:
alp_list + ['f']

['e', 'd', 'c', 'b', 'a', 'f']

In [49]:
alp_list

['e', 'd', 'c', 'b', 'a']